<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Chapter13Exercise10/src/chapter13exercise10/CreateCustomerFile.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="chapter13exercise10.CreateCustomerFile"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Chapter13Exercise10"/>
</launchConfiguration>
